</div>
<footer>

<section id="contact" class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 white-links">
            <p class="footer-title">About Us</p>
            <ul>
                <li>
                    <a href="/pages/about-us">About Our Store</a>
                </li>
                <li>
                    <a href="/pages/contact-us">Contact Us</a>
                </li>
                <li>
                    <a href="/pages/careers">Careers</a>
                </li>
            </ul>  
        </div>

    <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <p class="footer-title">Follow Us</p>
        <a href="https://facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </a>
          
          <a id="profile-link" target="_blank" href="https://instagram.com/">
           <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
          
         <a href="https://twitter.com/" target="_blank">
           <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
          </a>
        
    </div>
      
    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-12 mr-auto">
      Disclaimer: This is a project created for study purposes. All images and song titles belong to respective owners. No copyright infringement intended.
      <br>
      Copyright Disclaimer under Section 107 of the copyright act 1976, allowance is made for fair use for purposes such as criticism, comment, news reporting, scholarship, and research. 
      Fair use is a use permitted by copyright statute that might otherwise be infringing. 
      Non-profit, educational or personal use tips the balance in favour of fair use.
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
